* {
    font-family: sans-serif;
}

body {
    display: flex;
    flex-direction: column; 
    background-color: #395B50 !important;
    color: #382633 !important;
}

header {
    background-color: #AA968A !important; 
}

main {
    color: white;
    height: 100vh;
}

footer {
    background-color: #AA968A !important;
}

nav {
    display: flex;
    flex-direction: row;
}

menu {
    flex: 1;
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar-brand {
    padding-left: 0.3em;
    border-bottom: solid rgb(182, 182, 182) thin;
}
  
menu .nav-item {
    padding: 0 0.3em;
}

.sideby {
    display: flex;
    flex-direction: row;
    column-gap: 10px;
}


  