* {
    font-family: sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    background-color: #395B50 !important;
    color: #382633 !important;
}

header {
    background-color: #AA968A !important;
}

main {
    color: white;
    height: 100vh;
}

footer {
    background-color: #AA968A !important;
}

menu {
    flex: 1;
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/* BOOTSTRAP */

.navbar-brand {
    padding-left: 0.3em;
    border-bottom: solid rgb(182, 182, 182) thin;
}

menu .nav-item {
    padding: 0 0.3em;
}

/* HOME BREW */

.sideby {
    display: flex;
    flex-direction: row;
    column-gap: 10px;
}

.my-progress {
    width: 100%;
    font-size: large;
}

.navbar {
    all: unset;
    display: flex;
    padding: 16px;
    color: black;
    align-items: center;
}

.navbar-items {
    all: unset;
    display: flex;
    color: #404040;
}

.navbar-items--right {
    margin-left: auto;
}

.navbar-link {
    all: unset;
    padding-inline-start: 10px;
}

.navbar-link-brand {
    all: unset;
    display: flex;
    gap: 10px;
    padding-inline-end: 10px;
}

.navbar-link-toggle {
    display: none;
}

@media only screen and (max-width: 700px) {
    .navbar {
        flex-direction: column;
    }

    .navbar-link-brand {
        margin-right: auto;
        margin-bottom: 10px;
    }

    .navbar-items {
        flex-direction: column;
        display: none;
        margin-right: auto;
    }

    .navbar-items--right {
        margin-left: 0;
    }

    .navbar-toggle-show {
        display: flex;
    }

    .navbar-link-toggle {
        align-self: flex-end;
        display: initial;
        position: absolute;
        cursor: pointer;
        font-size: 24px;
    }
}